.sideNav{
    border: 1px solid white;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
}
.sideNavHead {
    display:flex;
}

#sideNavNav {
    display:flex;
    flex-direction: column;
}

@media (max-width: 768px) {
  .sideNav {
    position: relative;
    width: 100%;
    height: auto;
  }
}